table {
    border-collapse: collapse;
    font-family: 'Courier New', Courier, monospace;
    max-height: 450px;
    table-layout: fixed;
    overflow-y: scroll;
    display: block;
}

table a:visited {
    color: #333;
}

table a:active {
    color: #333;
}

table a:link {
    color: #333;
}

table a:hover {
    color: #333;
}

caption {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: #333;
}

th,
td {
    border: 1px solid rgb(231, 231, 231);
    padding: 8px;
}