table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    max-height: 300px
}

caption {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: #333;
}

th,
td {
    border: 1px solid rgb(231, 231, 231);
    padding: 8px;
}